<div class="row mb-3">
  <div class="last-line"></div>
</div>
<div class="container d-flex justify-content-between">
  <div class="about font-weight-bold">Шихова Анна</div>
  <div>
    <img class="last-logo img-fluid" src="https://cdn-icons-png.flaticon.com/512/3938/3938028.png" alt="">
    <img class="last-logo img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="">
  </div>
</div>