<div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://all-aforizmy.ru/wp-content/uploads/2021/12/ebltuf4wwaaftrd.jpg" height="50" width="100" alt="" class="plank img-fluid">
        Страны мира
    </a>
    <button type="button" class="btn btn-outline-light button_fact" id="toastbtn">Загрузить</button>
</div>